/* app global css */
.mt-1 {
  margin-top: 1px;
}
.mt-2 {
  margin-top: 2px;
}
.mt-3 {
  margin-top: 3px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-50 {
  margin-top: 50px;
}
.text-align-center {
  text-align: center;
}
.logout-btn {
  cursor: pointer;
  font-size: 25px;
}
.login-user-name {
  margin-right: 20px;
  font-size: 21px;
}
.cursor-pointer {
  cursor: pointer;
}
.mandatory {
  color: red !important;
}
.mb-5 {
  margin-bottom: 5px;
}